body {
  font-family: "Source Sans Pro", sans-serif;
  -webkit-user-select: none;
}

.button {
  display: inline-block;
  background: #828dff;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: normal;
  border-radius: 6px;
}
  .button:hover {
    background: #a6b7ff;
    color: white;
  }

.controls {
  float: left;
  margin-left: 1rem;
}
  .controls__item {
    margin-bottom: 1rem;
    background: #eee;
    padding: 1rem;
  }
    .controls__item__title {
      color: #666;
      font-size: 1rem;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 0.5rem;
      text-transform: uppercase;
    }

#canvas {
  float: left;
  image-rendering: optimizeSpeed;             /* Older versions of FF */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+ */
  image-rendering: -webkit-optimize-contrast; /* Safari */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers */
  -ms-interpolation-mode: nearest-neighbor;   /* IE */
}